@using EmployeeCrud_Sat.Data

@model List<GetEmployeeDto>

<h2>Employees</h2>

<a href="@Url.Action("GetAddEmployee" ,"Employee")" class="btn btn-primary">Add New</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Position</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr class="border">
                <td>@e.FirstName </td>
                <td>@e.LastName </td>
                <td>@e.EmailAddress</td>
               
                <td>
                    <a href="@Url.Action("Edit", new { id = e.EmployeeCode })" class="btn btn-warning btn-sm">Edit</a>
                    <form asp-action="Delete" asp-route-id="@e.EmployeeCode" method="post" style="display:inline">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td> 
            </tr>
        }
    </tbody>
</table>
