@using EmployeeCrud_Sat.Data

@model List<GetEmployeeDto>

<h2>Employees</h2>

<a href="@Url.Action("GetAddEmployee" ,"Employee")" class="btn btn-primary">Add New</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>DateOfBirth</th>
            <th>DateOfJoinee</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr class="border">
                <td>@e.FirstName @e.LastName </td>              
                <td>@e.EmailAddress</td>
                <td>@e.Gender</td>
                <td>@e.DateOfBirth</td>
                <td>@e.DateOfJoinee</td>
               
                <td>
                    <a href="@Url.Action("EditEmployee", new { id = e.EmployeeId })" class="btn btn-warning btn-sm">Edit</a>
                    <form asp-action="Delete" asp-route-id="@e.EmployeeId"  method  ="post" style="display:inline">
                        @Html.AntiForgeryToken()

                     <a href="@Url.Action("Delete", new { id = e.EmployeeId })" class="btn btn-sm btn-danger">Delete</a>
                    </form>
                </td> 
            </tr>
        }
    </tbody>
</table>
